#logo img{
    height: 80px;
    width: 100px;
    margin: 2px
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
} 

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 20px;
}

#navbar ul li a{    
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    top: 0px;
    left: 0px;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    /* padding: 3px 200px; */
    justify-content: center;
    align-items: center;
    height: 420px;
}

#home::before{
    content: "";
    background: url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    position: absolute;
    height: 75%;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
    top: 0px;
    left: 0px;
}

#home h1{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 12px;
}

#home p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.btn{
    padding: 10px;
    border: 3px solid white;
    background-color: black;
    color: white;
    margin: 17px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.services-container h1{
    font-size: 40px;
    text-align: center;
}

.services-container h2{
    font-size: 30px;
    text-align: center;
}

#services{
    margin: 7px;
    display: flex;
}

#services .box{
    border: 2px solid red;
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
    background-color: rgb(192, 189, 189);
}

#services .box img{
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

#client-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-section{
    height: 344px;
}

#clients img{
    height: 100px;
}

.client-item{
    padding: 20px;
}

#client-section::before{
    content: "";
    background: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    position: absolute;
    height: 50%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

#contact h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;  
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    background: url('https://images.pexels.com/photos/207456/pexels-photo-207456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 0px; */
}

#contact-box input, textarea{
    width: 100%;
    padding: 7px;
    border-radius: 9px;
    font-size: 15px;
}

#contact-box form{
    width: 30%;
}

#contact-box label{
    font-size: 20px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header{
    justify_content: left;
    padding: 60%;
    
}